VITE_FIREBASE_API_KEY=AIzaSyB3fTIGyI9GCWNs5mJ03WdeubF3q6xEwVk
VITE_FIREBASE_AUTH_DOMAIN=recruiter-799c2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=recruiter-799c2
VITE_FIREBASE_STORAGE_BUCKET=recruiter-799c2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1042249527500
VITE_FIREBASE_APP_ID=1:1042249527500:web:a821e6fedbe44fe16e1269
VITE_FIREBASE_MEASUREMENT_ID=G-NVSSVWJ76H
